
{% extends 'generic_page.html' %}
{% load i18n %}
{% block page %}
<h1 class="title">{% trans "Create post" %}</h1>
{% if form.non_field_errors or formset.non_form_errors or formset.errors %}
<div class="notification is-danger">
	{{ form.non_field_errors }}
	{{ formset.non_form_errors }}

	{% for dict in formset.errors %}
	{% for error in dict.values %}
	{{ error }}
	{% endfor %}
	{% endfor %}
</div>
{% endif %}


<form method="post">

	{% csrf_token %}
	<div class="columns">
		<div class="column">
			<button type="button" class="button" onclick="upload_warning();">{% trans "Add pictures" %}</button>
			<button id="btnAddPostText" type="button" class="button" onclick="show('post-form'); hide('btnAddPostText');">{% trans "Add a text" %}</button>
		</div>
	</div>
	<div class="columns">
		{% load index %}

		{{ formset.management_form }}
		<div class="column">

			<div class="tile is-ancestor" style="flex-wrap: wrap;">
				{% for form in formset %}

				<div id="pic-form-{{ forloop.counter0 }}" class="tile is-parent is-3">
					<div class="tile is-child box ">    
						<a href="{{ pic_urls|index:forloop.counter0 }}">
							<p class="image is-3by2">
								<img style="object-fit: cover;" src="{{ pic_urls|index:forloop.counter0 }}"/>
							</p>
						</a>
						<br>
						<div class="field has-addons">
  <div class="control">
    <button type="button" id="btn-date{{ forloop.counter0 }}" class="button">
      {% trans "Date" %}
    </button>
  </div>
  <div class="control">
  	
    {{ form.date_taken }}
     <p class="help has-text-danger">
     	{{ form.date_taken.errors }}
     </p>
  </div>
</div>

						<div class="field">
							<label class="label">{% trans "Text" %}</label>
							<div class="control">
								{{ form.text.errors }}
								{{ form.text }}

							</div>
						</div>

						<div id="field-loc-{{ forloop.counter0 }}" class="field is-hidden">						
							<div class="control has-icons-left">								
								{{ form.location }}
								      <p class="help is-danger">
       {{ form.location.errors }}
      </p>
								    <span class="icon is-small is-left">
      <i class="fa fa-globe"></i>
    </span>
							</div>
						</div>






						<div class="field is-hidden">
							<div class="control">
								{{ form.delete.errors }}
								{{ form.delete }}
							</div>
						</div>

						<a id="btnLoc-{{ forloop.counter0 }}" class="is-small" type="button" onclick="hide('btnLoc-{{ forloop.counter0 }}'); show('field-loc-{{ forloop.counter0 }}');">{% trans "Add location" %}</a>


						<a id="btndelete-{{ forloop.counter0 }}" class="is-small is-danger is-pulled-right" type="button" onclick="check_delete('{{ forloop.counter0 }}');">{% trans "Delete" %}</a>
					</div>
				</div>
				{{ form.image }}
<script type="text/javascript">
	nmbr = {{ forloop.counter }};
</script>
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="columns ">
		<div class="column is-7">
			<div id="post-form" class="is-hidden box">
				<button onclick="clearPostForm();" type="button" class="delete is-small is-pulled-right"></button>
				<div class="columns">
					<div class="column">
					<div class="field">
						{{ form.text.errors }}
						<label class="label">{% trans "Text" %}</label>	


						<textarea onkeyup="showBtnSave('{{ form.text.id_for_label }}');" class="textarea" name="{{ form.text.name }}" id="{{ form.text.id_for_label }}"{% if form.text.field.required %}required{% endif %}>{% if form.text.value != None %}{{ form.text.value|stringformat:'s' }}{% endif %}</textarea>


						{% if form.text.help_text %}
						<p class="help">{{ form.text.help_text|safe }}</p>
						{% endif %}
					</div>

					<div class="field">
						{{ form.timeline_date.errors }}
						<p class="control has-icons-left">
							<label class="label">{% trans "Timeline date" %}</label>
							{{ form.timeline_date }}
						</p>
						{% if form.timeline_date.help_text %}
						<p class="help">{{ form.timeline_date.help_text|safe }}</p>
						{% endif %}
						<br>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
		<div id="cbIsOneUnit" class="columns is-hidden">
			<div class="control column">
				<label type="checkbox">
				<input onchange="checkbox_change('{{ form.post_as_one_unit.id_for_label }}')" type="checkbox" id="{{ form.post_as_one_unit.id_for_label }}" name="{{ form.post_as_one_unit.name }}">
				{% trans "Post everything together as one unit." %} </label>
			</div>
		</div>
		<div class="columns">
			<div class="control column">
				<input type="submit" id="btnSave" value="{% trans 'Create post' %}" class="button is-primary is-hidden">
			</div>
		</div>
	</form>

	<script type="text/javascript">

		if (nmbr > 0)
		{
			if (nmbr == 1)
			{
				hide('btnAddPostText');
			}
			show('btnSave');
			if (nmbr > 1)
			{
				document.getElementById("btnSave").value="{% trans 'Create posts' %}";
				show('cbIsOneUnit')
			}
		}

		if (document.getElementById("id_text").value!= "" || document.getElementById("id_timelinedate").value!= "")
		{			

			if (document.getElementById('btnSave').classList.contains("is-hidden"))
			{
				show('btnSave');
			}
			if (document.getElementById('post-form').classList.contains("is-hidden"))
			{
				show('post-form');
			}
			if (! document.getElementById('btnAddPostText').classList.contains("is-hidden"))
			{
				hide('btnAddPostText');
			}
		}

		function checkbox_change(id)
		{
			if (document.getElementById(id).checked == true)
			{
				document.getElementById("btnSave").value="{% trans 'Create post' %}";
			if (document.getElementById('post-form').classList.contains("is-hidden"))
			{
				show('post-form');
				hide('btnAddPostText');
			}
		}
		else
		{
			document.getElementById("btnSave").value="{% trans 'Create posts' %}";
		}

		}

		function showBtnSave(id)
		{
			if (document.getElementById(id).value != "")
			{
				if (document.getElementById('btnSave').classList.contains("is-hidden"))
				{
					show('btnSave');
				}
			}
		}

		function show(id)
		{
			document.getElementById(id).classList.remove("is-hidden");
		}

		function hide(id)
		{
			document.getElementById(id).classList.add("is-hidden");
		}

		function check_delete(id)
		{

			checkbox_id = "id_form-" + id + "-delete";
			textarea_id = "id_form-" + id + "-text";
			date_id = "id_form-" + id + "-date_taken";
			btndate_id = "btn-date" + id;
			btnloc = "btnLoc-" + id;
			btndelete = "btndelete-" + id;
			document.getElementById(checkbox_id).checked = true;
			document.getElementById(textarea_id).disabled = true;
			document.getElementById(date_id).disabled = true;
			document.getElementById(btndate_id).disabled = true;
			hide(btnloc);
			hide(btndelete);
	

		}

		function clearPostForm()
		{
			if (document.getElementById("id_post_as_one_unit").checked == false)
			{
			hide('post-form');
			show('btnAddPostText');
			document.getElementById("{{ form.text.id_for_label }}").value = ""
			document.getElementById("{{ form.timeline_date.id_for_label }}").value = ""
			}
			else
			{
				alert('{% trans "You can not remove this if you want to post everything as one unit.\n\nTo remove this you first have un-check the post-as-one-unit checkbox." %}');
			}
		}

		function upload_warning()
		{
			warning = "{% trans 'If you did not start writing a text yet you may continue by clicking Ok. \n\nOtherwise please click Cancel and copy your work as you will lose any progress by uploading pictures at this time. We recomend you always upload any pictures first if you plan on posting both pictures and text together.' %}";
			if (confirm(warning))
			{
    //Go to upload page
    window.location.href = '{% url "upload" %}';
}
else
{
    //Cancel and stay
}
}

</script>


{% endblock %}



