{% extends 'generic_page.html' %}
{% load i18n %}
{% block page %}

<h1 class="title">{% trans "Share a memory" %}</h1>
<div class="columns">
	<div class="column">
		<div class="box">
			<div class="subtitle">Memory</div>
		</div>
	</div>
	<div class="column">
		<div class="box">
			<div class="subtitle">Album</div>
			<p>Upload multiple pictures that go together</p>
		</div>
	</div>
</div>
<div class="columns">
	<div class="column">
		<div class="box">
			<div class="subtitle">Album</div>
		</div>
	</div>
	<div class="column">
		<div class="box"></div>
	</div>
</div>
{% endblock %}
