{% extends 'generic_page.html' %}
{% block title %}Memory{% endblock %}
{% block page %}

<style type="text/css">
  .image img{height: 100%;object-fit: cover;}
</style>

{% if memories %}
{% for memory in memories %}

<div class="columns">
	<div class="column is-one-third">
<div class="box">
  <article class="media">
    <div class="media-left">
 <figure class="image is-64x64">
        <img src="{{ memory.user.avatar_url }}" alt="Profile picture">
      </figure>
    </div>
    <div class="media-content">   
    
          <a href="{% url "user_detail" memory.user %}"><strong>{{ memory.user.first_name }} {{ memory.user.last_name }}</strong></a>


       <small>{{ memory.user.connection_short }}</small> <small>{{ memory.pub_date|timesince}}</small>
          <br>
         
         <p> {{ memory.text }} </p>
 
   
    
    </div>
  </article>
</div>
</div>
</div>

    {% endfor %}

{% else %}
    <p>No user has published a memory yet.</p>
{% endif %}

{% endblock %}
