{% extends 'generic_page.html' %}
{% load i18n %}
{% block page %}
<h1 class="title">{% trans "Share a memory" %}</h1>
<style type="text/css">
	.image img { height: 100%; object-fit: cover; }
</style>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div class="columns">
	<div class="column">
<textarea class="textarea" placeholder="{% trans "Write your text here" %}"></textarea>
</div>
</div>
<div class="columns">
	<div class="column">
<input type="submit" class="button is-primary is-pulled-right" value="{% trans "Post" %}">
</div>
</div>

<div class="tile is-ancestor" style="flex-wrap: wrap;">
	{% for pic in pictures %}
  <div class="tile is-parent is-3">
  <div class="tile is-child box ">    
             <a href="{{ pic.image.url }}"> <p class="image is-3by2">
                <img src="{{ pic.image.url }}"/>
              </p></a>
  	 <br>
  	 <div class="field">
  <label class="label">{% trans "Caption" %}</label>
  <div class="control">
  	<input placeholder="{% trans "Caption" %}" class="input" value="{{ pic.caption|default_if_none:"" }}">
  </div>
</div>
<div class="field">
  <label class="label">{% trans "Date" %}</label>
  <div class="control">
  	<input placeholder="{% trans "Date" %}" class="input" value="{{ pic.date|default_if_none:"" }}">
  </div>
</div>


</div>
</div>

    {% endfor %}

</div>
  

{% endblock %}
