{% extends 'generic_page.html' %}
{% load i18n %}
{% block page %}
<h1 class="title">{% trans "Share a memory" %}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



{% load crispy_forms_tags %}
{{ formset.management_form }} 
{{ form }}
<div class="tile is-ancestor" style="flex-wrap: wrap;">
	{% for form in formset.forms %}
  
  <div class="tile is-3">    

  	{{ form.caption }} <br>
  	{{ form.image.id_for_label }}<br>

</div>

    {% endfor %}

</div>
  

{% endblock %}
