{% extends 'base.html' %}
{% block title %}Minnesboken{% endblock %}
{% block navbar %} {% endblock %}
{% block content %}
{% load i18n %}
<style type="text/css">
  .has-background{background-position: center center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;}
  .has-line{border-left-width:4px;border-left-style:dashed;padding-left:12px;}
  .image img{height: 100%;object-fit: cover;}
  .is-round{border-width:3px;border-style:solid;}
</style>

<div class="hero {% if first_chapter.background_class %} {{ first_chapter.background_class }} {% else %}is-dark{% endif %} has-background" {% if first_chapter.background_image %} style="background-image: url('{{ first_chapter.background_image.url }}');" {% endif %}>

   {% include "memories/components/navbar.html" %}
  
  <div class="hero-body">
    <div class="container">

{% for post in timeline_items %}

{% if post.chapter %}
  
    </div>
  </div>
</div>

<div class="hero is-fullheight {% if post.chapter.background_class %} {{ post.chapter.background_class }} {% else %}is-dark{% endif %} has-background" style="background-image: url('{% if post.chapter.background_image %}{{ post.chapter.background_image.url }}{% endif %}');">
  
  <div class="hero-body has-text-centered">
    <div class="container">
      {% if post.chapter.image %}
                  <figure class="media-left is-inline-block">
              <p class="image is-128x128">
                <img class="is-round" src="{{ post.chapter.image.url }}">
              </p>
            </figure>

      {% endif %}<br>
      <h1 class="title has-background-white has-text-black is-inline-block" style="margin-bottom: 0; padding: 0rem 0.7rem 0rem 0.7rem">
         {{ post.chapter.timeline_date.date }}
     </h1><br>
     <h3 class="subtitle has-background-white has-text-black is-inline-block" style="padding: 0rem 0.7rem 0rem 0.7rem">
      {{ post.chapter.caption }}
    </h3><br>
          <small class="has-background-white has-text-black is-inline-block"><a class="has-text-black" href="{% url "comment_create" post.pk %}">{% trans "Comment" %}</a></small>
        </div>
  </div>
</div>
<div class="hero {% if post.chapter.background_class %} {{ post.chapter.background_class }} {% else %}is-dark{% endif %} has-background" style="background-image: url('{% if post.chapter.background_image %}{{ post.chapter.background_image.url }}{% endif %}');">
  
  <div class="hero-body">
    <div class="container">
      {% if post.comments.all.0  %}
      <div class="column is-one-third">
      <div class="box">
      {% for comment in post.comments.all %}

          {% include "memories/components/comment.html" %}

      {% endfor %}
</div></div>
{% endif %}
{% elif post.milestone %}

          {% include "memories/components/milestone.html" %}

 {% elif post.pictures.all.0 %}

{% include "memories/components/album.html" %}

{% elif post.picture %}
     {% include "memories/components/picture.html" %}

    {% else %}

     <div class="columns">
      <div class="column is-one-third">
         {% include "memories/components/date_tag.html" %}
          <div class="box">

        {% include "memories/components/post.html" %}
</div>
      </div>
    </div> 
{% endif %}

{% endfor %}
    </div>
  </div>
</div>

{% endblock %}