{% extends 'base.html' %}
{% block title %}Minnesboken{% endblock %}
{% block navbar %} {% endblock %}
{% block content %}
{% load i18n %}
<style type="text/css">
  .has-background{background-position: center center;background-repeat:no-repeat;background-attachment:fixed;background-size:cover;}
  .has-line{border-left-width:4px;border-left-style:dashed;padding-left:12px;}
  .image img{height: 100%;object-fit: cover;}
  .is-rounded{border-width:3px;border-style:solid;}
</style>


<div class="hero {% if first_chapter.background_class %} first_chapter.background_class {% else %}is-dark{% endif %} has-background" style="background-image: url('{{ first_chapter.background_image.url }}');">

   {% include "memories/components/navbar.html" %}
  
  <div class="hero-body">
    <div class="container">

{% for item in timeline_items %}

{% if item.milestone.chapter %}
    </div>
  </div>
</div>
<div class="hero is-fullheight {% if item.milestone.chapter.background_class %} item.milestone.chapter.background_class {% else %}is-dark{% endif %} has-background" style="background-image: url('{% if item.milestone.chapter.background_image %}{{ item.milestone.chapter.background_image.url }}{% endif %}');">
  
  <div class="hero-body has-text-centered">
    <div class="container">
      {% if item.milestone.chapter.image %}
                  <figure class="media-left is-inline-block">
              <p class="image is-128x128">
                <img class="is-rounded" src="{{ item.milestone.chapter.image.url }}">
              </p>
            </figure>

      {% endif %}
      <h1 class="title">
         {{ item.milestone.chapter.date.date }}
     </h1>
     <h3 class="subtitle">
      {{ item.milestone.chapter.caption }}
    </h3>
        </div>
  </div>
</div>
<div class="hero {% if item.milestone.chapter.background_class %} item.milestone.chapter.background_class {% else %}is-dark{% endif %} has-background" style="background-image: url('{% if item.milestone.chapter.background_image %}{{ item.milestone.chapter.background_image.url }}{% endif %}');">
  
  <div class="hero-body">
    <div class="container has-line">

{% elif item.milestone %}

          {% include "memories/components/milestone.html" %}

 {% elif item.memory %}

{% if item.memory.pictures.0 %}
     <div class="columns">
      <div class="column is-half">
        <div class="box">
          <article class="media">  
            <div class="media-content">
              <div class="content">
                <img src="{{ item.memory.picture.image.url }}"><br>
                  <strong>{{ item.memory.picture.caption }} </strong><br>
                  <small> {% trans "Uploaded by" %} {{ item.memory.picture.user.first_name }} {{ item.memory.picture.user.last_name }} - {{ item.memory.picture.pub_date|timesince}}</small>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div> 

    {% else %}

     <div class="columns">
      <div class="column is-one-third">
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="{{ item.memory.user.avatar_url }}">
              </p>
            </figure>
            <div class="media-content">

              <div class="content">
                <p>
                  <a href="{% url "user_detail" item.memory.user %}"><strong>{{ item.memory.user.first_name }} {{ item.memory.user.last_name }}</strong></a> <small>{{ item.memory.user.connection_short }}</small>
                  <br>
                  {{ item.memory.text }}
                  <br><small>{{ item.memory.pub_date|timesince}} · <a href="{% url "post_comment" item.pk %}">Reply</a></small>
                </p>
              </div>

      {% for comment in item.memory.comments.all %}

          {% include "memories/components/comment.html" %}

      {% endfor %}

            </div>
          </article>
        </div>
      </div>
    </div> 
{% endif %}
{% endif %}



{% endfor %}
    </div>
  </div>
</div>
{% endblock %}