{% extends 'generic_page.html' %}
{% block title %}Memory{% endblock %}
{% block page %}

{% if memories %}
{% for memory in memories %}

<div class="columns">
	<div class="column is-one-third">
<div class="box">
  <article class="media">
    <div class="media-left">
     <a href="{% url "user_detail" memory.user %}"> <figure class="image is-64x64">
        <img src="{{ memory.user.avatar_url }}" alt="Profile picture">
      </figure></a>
    </div>
    <div class="media-content">   
    
          <a href="{% url "user_detail" memory.user %}"><strong>{{ memory.user.first_name }} {{ memory.user.last_name }}</strong></a>
<a href="{% url 'memory_detail' memory.id %}">
<span>
        <small>{{ memory.pub_date|timesince}}</small>
          <br>
         
         <p> {{ memory.text }} </p>
        </span>
       </a>
    
    </div>
  </article>
</div>
</div>
</div>

    {% endfor %}

{% else %}
    <p>No user has published a memory yet.</p>
{% endif %}

{% endblock %}
