@import url('https://fonts.googleapis.com/css?family=Caveat+Brush|Patrick+Hand|Special+Elite');

 *,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

p {
  text-align: justify;
  text-justify: inter-word;
}

.navigation {

  display: block;
  height: 5.2rem;
  left: 0;
  max-width: 100%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}

html { 
  background: url('timeline/falun.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:; 0px;
}

.smallprofile
{
    position: absolute;
    top: -30px;
    border-style: solid;
    border-color: white;
    border-width: 4px;
}

.white
{
  color:white;
  text-align: center;
}

.lefty {
  width: 50%;
  float: left;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: white;
  height: 100%;
  margin-left: auto;
  display: flex;
}

.righty {
  width: 50%;
  float: right;
  display: flex;
  border-left-style: solid;
  border-left-width: 5px;
  left: -5px;
  position: relative;
  border-left-color: white;
  display: flex;
}
 
div.lefty * {
  margin-left: auto;
}

.picture_text {
  color: black;
  text-align: center;
  font-family: "Reenie Beanie";
  font-size: 16pt;
  margin-top: 3px;
}

.year {
  text-align: center;
  font-family: "Raleway";
  color: white;
  width: 140px;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  font-size: 30pt;
  margin-top: 0px;
}


.center {
  display: block;
  margin: 0 auto;
  margin-top: 30%;
  margin-bottom: 3%;
}

.whitebox {
  margin-top: 20px;
  margin-left: 32px;
  margin-right: 32px;
  background-color: whitesmoke;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.thumb { 
  width: 220px;
  height: 250px;
  padding-top:14px;
  padding-left: 12px;
  padding-right: 12px;
}

.comment {
  padding: 11px;
  width: 280px;
  font-family: "Baskerville";
    font-size: 16pt;
    line-height: 17pt;
  color: #232323;
}

.presentation {
  text-align: center;
  padding-left: 30px;
  padding-right: 20px;
  font-family: "Raleway";
  font-size: 20pt;
  line-height: 18pt;
  color: white;
  width: 630px;
  margin-left: auto;
  margin-right: auto;
}

.animate { transition: all .2s ease-in-out; } 
.animate:hover {
  transform: scale(1.0) rotate(0deg) !important; 
}

.timelinerow {
  color: #fff;
  display: inline-block;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
}

span{
    position:absolute; 
  width:100%;
  height:100%;
  top:0;
  left: 0;
}

#temp
{
  margin-top: 150px;
}

.logo {
  display: none;
  margin-top: 50px;
  z-index: 30
}

.container
{
  padding: 0 !important;
  margin: 0px
  width100%;
}

.navigation .container {
  padding-bottom: 0;
  padding-top: 0;
}

.navigation .navigation-list {
	margin-top: 12px;
  list-style: none;
  margin-bottom: 0;
  margin-right: 0;
}

.navigation .navigation-item {
  float: left;
  margin-bottom: 0;
  margin-left: 2.5rem;
  position: relative
}

.navigation .img {
  fill: #9b4dca;
  height: 2rem;
  position: relative;
  top: .3rem
}

.navigation .navigation-title,
.navigation .title {
  color: #606c76;
  font-family: Gotham Rounded A, Gotham Rounded B, Helvetica Neue, Arial, sans-serif;
  position: relative
}

.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
  display: inline;
  font-size: 1.6rem;
  line-height: 5.2rem;
  padding: 0;
  text-decoration: none
}

.navigation .navigation-link.active {
  color: #606c76
}

#year1989, #year1990, #year1991, #year1992,
#year1993, #year1994, #year1995, #year1996,
#year1997, #year1998, #year1999, #year2000, #year2001 {
  background-image: url('timeline/skillebylund.jpg');
}


#year2002, #year2003, #year2004, #year2005,
#year2006, #year2007, #year2008, #year2009,
#year2010, #year2011, #year2012, #year2013 {
  background-image: url('timeline/bergen.jpg');
}

.full-year
{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

img[src*="None"] {
    display: none;
}

