<!DOCTYPE html>
<html lang="sv">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/milligram.css" />
	<link rel="stylesheet" type="text/css" href="/static/style.css" />
	<title>{% block title %}{% endblock %}</title>
</head> 
<body>
<header class="wrapper">
	<nav class="navigation navigation-item">
		<section class="container">
		<a class="float-left" href="{% url 'landingpage' %}">Till minne av Christian Lundberg</a>
		<ul class="navigation-list float-right">
		<li class="navigation-item"><a href="{% url 'timeline' %}">Minneslinje</a></li>
		<li class="navigation-item"><a href="{% url 'memories' %}">Minnesbok</a></li>
		<li class="navigation-item"><a href="{% url 'new_timeline_post' %}">Dela med dig av ett minne</a></li>
		<li class="navigation-item"><a href="{% url 'list_of_writings' %}">Christians texter</a></li>
		<li class="navigation-item"><a href="{% url 'pictures' %}">Bilder</a></li>
		{% if user.is_authenticated %}
		<li class="navigation-item"><p>Hej {{ user.username }}!</p></li>
		<img src="{{ userprofiles }}">
		<li class="navigation-item"><a href="{% url 'logout' %}">Logga ut ></a></li>
		{% else %}
		<li class="navigation-item"><a style="margin-top: -5px;" class="button button-outline" href="{% url 'login' %}">Logga in ></a></li>
		{% endif %}
		</ul>
		</section>
	</nav><section class="logo">
		<a href="{% url 'landingpage' %}">Till minne av</a><br/>
		<a href="{% url 'landingpage' %}"><h1>Christian<br/>Lundberg</h1></a>
		</section>
</header>
<main id="temp" class="container">
	{% if user.is_authenticated and user.is_activated is False %}
	<div class="alert-header"><h3>Ditt konto har inte aktiverats ännu. Vi ber om överseende för dröjsmålet.</h3></div>
	{% endif %}
	{% block content %}
	{% endblock %}
</main>
<footer class="container">
	<p>Du är varmt välkommen att kontakta Christians pappa Torsten här eller bror Dag här om du har några frågor eller tankar kring Christian eller den här minnessidan.</p>
</footer>
</body>
</html>