<!DOCTYPE html>
<html lang="sv">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
	<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
	<link rel="stylesheet" type="text/css" href="/static/style_timeline.css" />
	<title>{% block title %}{% endblock %}</title>
</head> 
<body>
<main id="temp" class="container">
			{% if user.is_authenticated and user.is_activated is False %}
	<div class="alert-header"><h3>Ditt konto har inte aktiverats ännu. Vi ber om överseende för dröjsmålet.</h3></div>
	{% endif %}
	{% block content %}
	{% endblock %}
</main>
<footer class="container">
	<p>Du är varmt välkommen att kontakta Christians pappa Torsten här eller bror Dag här om du har några frågor eller tankar kring Christian eller den här minnessidan.</p>
</footer>
</body>
</html>