<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
<link href="https://fonts.googleapis.com/css?family=Raleway|IM+Fell+English|Source+Serif+Pro" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/static/style.css" />
<script src="/static/jquery.min.js"></script>
<script>$(document).ready(function(){
	$('a[href^="#"]').on('click',function (e) {
	    e.preventDefault();

	    var target = this.hash,
	    $target = $(target);

	    $('html, body').stop().animate({
	        'scrollTop': $target.offset().top
	    }, 900, 'swing', function () {
	        window.location.hash = target;
	    });
	});
});</script>
</head>
<body>
    <div class="paralax-image1">
        <div class="sitewidth">
            <div>
                <div class="logo">
                    <a style="color:white; font-size:12pt; opacity:0.6;" href="{% url 'landingpage' %}">Till minne av</a><br/>
                    <a style="color:white" href="{% url 'landingpage' %}">Christian<br/>Lundberg</a>
                </div>
                <div style="color:white" class="userbar">
                    {% if user.is_authenticated %}
                        Hi {{ user.username }}! <a style="color:white" href="{% url 'logout' %}">Logga ut ></a>
  		                    {% else %}
                            <a style="color:white" href="{% url 'login' %}">Logga in ></a>
  		                        {% endif %}
                    <a style="color:white" href="{% url 'login' %}"></a>
                </div>
            </div>
    <a class="white" href="{% url 'list_of_writings' %}">Christians texter ></a><br/>
    <a class="white" href="{% url 'memories' %}">Minnesboken ></a><br/>
    <a class="white" href="{% url 'pictures' %}">Bilder ></a><br/>
            <a href="#forts"><img width="80px"; style="margin-top:45px; margin-left:32px;" src="/static/dwn.svg" /></a>
    </div>
</div>

    {% block content %}
    {% endblock %}

<footer class="sitewidth">Du är varmt välkommen att kontakta Christians pappa Torsten här eller bror Dag här om du har några frågor
eller tankar kring Christian eller den här minnessidan.</footer></body>
</html>
