 {% include "memories/components/date_tag.html" %}
        <div class="box">
          <article class="media">
            <div class="media-content">

              <div class="content">

  {% if post.title %}
  	<h1 class="title">{{ post.title }}</h1>
  {% endif %}
  <div class="tile is-ancestor" style="flex-wrap: wrap;">
  {% for image in post.pictures.all %}

  <div class="tile is-child ">
<a href="{% url "picture_detail" image.pk %}">
  <p class="image is-square">
      <img style="object-fit: cover;"  src="{{ image.image.url }}" alt="">
  </p>
 </a>
  {% if image.caption %}<strong>{{ image.caption }}</strong>{% endif %}
  </div>  

  {% endfor %}

</div>
        {% include "memories/components/post.html" %}
</div>
</div>
</article>
</div>