   {% load i18n %}
   <div class="columns" style="margin-top: 50px;">
   	<div class="column">
      {% if post.milestone.image %}
      <img src="{{ item.milestone.image.url }}">
      {% endif %}
      <h1 class="title">
         {{ post.milestone.timeline_date.date }}
     </h1>
     <h3 class="subtitle">
      {{ post.milestone.caption }}
    </h3>

    <small><a class="has-text-white" href="{% url "comment_create" post.pk %}">{% trans "Comment" %}</a></small>
          {% if post.comments.all.0  %}

          <div class="column is-one-third">
          <div class="box">
          {% for comment in post.comments.all %}

              {% include "memories/components/comment.html" %}

          {% endfor %}
    </div></div>
    {% endif %}
    </div>
    </div>