{% load i18n %}
 {% include "memories/components/date_tag.html" %}
     <div class="columns">
      <div class="column is-half">
        <div class="box" style="padding: 0.7rem 0.7rem 0.5rem 0.7rem">
          <article class="media">  
            <div class="media-content">
              <div class="content">
                <img src="{{ post.picture.image.url }}"><br>
                  <strong>{% if post.picture.caption %}{{ post.picture.caption }}{% endif %}</strong>
                  {% if post.picture.text %}{% include "memories/components/post.html" %}
                  {% else %}
                 <small class="has-text-grey-lighter is-pulled-right">{{ post.user.first_name }} {{ post.user.last_name }} · {{ post.pub_date|timesince}} · <a href="{% url "comment_create" post.pk %}">{% trans "Comment" %}</a></small>
                       {% for comment in post.comments.all %}

          {% include "memories/components/comment.html" %}

      {% endfor %}
                  {% endif %}
                          
              </div>
            </div>
          </article>
        </div>
      </div>
    </div> 