{% extends 'base.html' %}
{% block title %}Till minne av Christian Lundberg{% endblock %}
{% block content %}

<section id="share" class="paralax-image2">
	<a href="{% url 'create_post' %}" class="more_link button"><span>DELA MED DIG AV ETT CHRISTIAN-MINNE</span></a>
	<p>Christian berörde många hjärtan och den här webbplatsen är tänkt att utgöra ett ställe där vi kan samlas och minnas honom. Du är varmt välkommen att dela med dig av ett minne, en dikt, en bild eller eller något annat med koppling till Christian i minnesboken:</p><br>
</section>

<section id="memories">
	<p class="memorytxt"><img height="80" class="profilepic" src="{{ random_memory.userprofile.avatar_url }}"> {{ random_memory.text }}</p><br>
	<a class="more_link" href="{% url 'memories' %}">Läs mer ur minnesboken här ></a>
</section>

<section id="bilder" class="paralax-image3"><br>
	<a class="more_link" href="{% url 'pictures' %}">Se fler bilder här ></a>
</section>
{% endblock %}
