{% extends 'base.html' %}
{% block title %}Djemember{% endblock %}
{% block content %}

<section id="share" class="paralax-image2">
	<a href="{% url 'create_post' %}" class="more_link button"><span>Share a memory</span></a>
	<p>This is a place where you can come together and remember.</p><br>
</section>

<section id="memories">
	<p class="memorytxt"><img height="80" class="profilepic" src="{{ random_memory.userprofile.avatar_url }}"> {{ random_memory.text }}</p><br>
	<a class="more_link" href="{% url 'memories' %}">Read from the memory book here ></a>
</section>

<section id="pictures" class="paralax-image3"><br>
	<a class="more_link" href="{% url 'pictures' %}">Se more pictures here ></a>
</section>
{% endblock %}
