{% extends 'base.html' %}
{% block title %}Minnesboken{% endblock %}
{% block content %}
{% if user.is_authenticated and user.is_activated %}
{% if latest_memories_list %}

    {% for memory in latest_memories_list %}
    <div class="row">
        <div class="column column-10 column-center" ><img class="column-center" src="{{ memory.userprofile.avatar_url }}"></div><a class="column" href="{% url 'memory_detail' memory.id %}">{{ memory.text }}</a>
    </div>
    {% endfor %}

{% else %}
    <p>No user has published a memory yet.</p>
{% endif %}

{% else %}
<h2>Välkommen att logga in för att ta del av minnesboken.</h2>
<p>Om du på något sätt kände eller har haft en koppling till Christian är du varmt välkommen att logga in med Facebook här, eller ansöka om ett konto utan Facebook här. Notera att alla nya konton aktiveras manuellt och att det kan dröja upp till ett par dagar innan ditt konto blir aktiverat.</p>
{% endif %}
{% endblock %}
