{% extends 'base.html' %}
{% load cloudinary %}
{% cloudinary_includes %}
{% cloudinary_js_config %}
{% block content %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<!-- A form for direct uploading using a jQuery plug-in. 
  	The cloudinary_direct_upload_field method generates the required HTML and JavaScript to    
    allow uploading directly from the browser to your Cloudinary account -->

<form action="{% url "direct_upload_complete" %}" enctype="multipart/form-data">
    {% csrf_token %}
    {% cloudinary_direct_upload_field request=request %}
</form>


{% endblock %}