{% extends 'base.html' %}

{% block content %}
{% load cloudinary %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% cloudinary_includes %}
{% cloudinary_js_config %}
<script>
	$(function() {
  if($.fn.cloudinary_fileupload !== undefined) {
    $("input.cloudinary-fileupload[type=file]").cloudinary_fileupload();
  }
});
	
$('.cloudinary-fileupload').cloudinary_fileupload({replaceFileInput: false});
</script>
<script>
$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
  $('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
});</script>
<script>
$('.cloudinary-fileupload').bind('cloudinarydone', function(e, data) {  
  $('.preview').html(
    $.cloudinary.image(data.result.public_id, 
      { format: data.result.format, version: data.result.version, 
        crop: 'fill', width: 150, height: 100 })
  );    
  $('.image_public_id').val(data.result.public_id);    
  return true;
});</script>
<script>
	
	$('.cloudinary-fileupload').bind('fileuploadprogress', function(e, data) { 
  $('.progress_bar').css('width', Math.round((data.loaded * 100.0) / data.total) + '%'); 
});

</script>

<h1>Dela ett minne</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}


<form action="{% url "direct_upload_complete" %}" method="post">
  {% csrf_token %}
  {{ direct_form }}
  {# altenatively, use: {% cloudinary_direct_upload_field "image", request=request %} #}
  <input type="submit" value="Submit" />
</form>

    {% cloudinary "sample.jpg" radius="max" width=150 height=150 crop="fill" %}
{% endblock %}
