<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
  </head>
<body>

{% if user.is_authenticated %}

<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <div class="navbar-burger burger" data-target="navbarTransp">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarTransp" class="navbar-menu">
    <div class="navbar-start">
       <a class="navbar-item" href="{% url 'landingpage' %}">
        Start
      </a>
       <a class="navbar-item" href="{% url 'timeline' %}">
        Timeline
      </a>
       <a class="navbar-item" href="{% url 'memories' %}">
        Memories
       </a>
        <a class="navbar-item" href="{% url 'pictures' %}">
        Pictures
       </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">

          <p class="control">
            <a class="bd-tw-button button" href="">
              <span class="icon">
                <i class="fa fa-user-circle"></i>
              </span>
              <span>
                Account
              </span>
            </a>
          </p>

          <p class="control">
            <a class="button is-primary" href="{% url 'create_post' %}">
              <span class="icon">
                <i class="fa fa-plus"></i>
              </span>
              <span>Share a memory</span>
            </a>
          </p>

        </div>
      </div>
    </div>
  </div>
</nav>
{% endif %}
{% block content %}
{% endblock %}

  </body>
</html>



