{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
  </head>
<body>

{% if user.is_authenticated %}
{% block navbar %}

   {% include "memories/components/navbar.html" %}
   <br><br>
{% endblock %}

{% endif %}
{% block content %}
{% endblock %}
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Djemember</strong> is an <a href="https://github.com/daggepagge/djemember">open source</a> project for creating memorial websites with django.</a>
    </p>
  </div>
</footer>
  </body>
</html>



