{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{% load socialaccount %}
{% providers_media_js %}
<section>
<h3>Log in using your facebook account:</h3>
  <a class="button column" href="{% provider_login_url "facebook" method="js_sdk" %}">Log in with Facebook</a>

    <h3>Log in without facebook:</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button class="column" type="submit">Log in</button>
  </form>

<h3>Create a new new account:</h3>
  <a class="button column" href="{% url 'create_account' %}">Create a new account without facebook</a>
</section>
{% endblock %}
